<STYLE TYPE="text/css">
	<!--
		@page { size: 8.5in 11in }
		H1 { border-top: none; border-bottom: 1.00pt solid #c0c0c0; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0in; color: #527bbd; font-family: sans-serif; line-height: 130% }
		H2 { border-top: none; border-bottom: 1.00pt solid #c0c0c0; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0in; color: #527bbd; font-family: sans-serif; font-size: 14pt; font-style: italic; line-height: 130% }
		H3 { color: #527bbd; font-family: sans-serif; line-height: 130% }
		H4 { color: #527bbd; font-family: sans-serif; font-size: 11pt; font-style: italic; line-height: 130% }
		A:link { color: #0000ff }
		A:visited { color: #0000ff }
	-->
	</STYLE>
